<a href="https://colab.research.google.com/github/MarcAeronAbraham/CPEN-21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [8]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [12]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x=="Thursday":
    break
print(x)

Thursday

##Looping through String

In [15]:
for x in "week":
  print(x)

w
e
e
k

##The range() function

In [18]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [17]:
for x in range(2,6):
  print(x)

2
3
4
5

##Nested Loops

In [19]:
adjectives = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjectives:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##Python While Loop

In [20]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [22]:
i=1

while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [26]:
i=0

while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [27]:
i=1

while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#Application 1

In [29]:
#Create a Python Program that displays Hello 0 to Hello 10 vertically
X = ["Hello"]
Y = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]

for x in X:
  for y in Y:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

#Application 2

In [31]:
#Create a Python program that displays less than 10 but not less than 3
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9